<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
    <link name="link_0">
        <visual>
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename='package://rbt_simulation/meshes/link_0.stl'/>
          </geometry>
        </visual>
    </link>
</robot>
